USE [StudentAPI_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20-03-2026 11:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 20-03-2026 11:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[MobileNo] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260319144705_InitialCreate', N'8.0.25')
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [Age], [Email], [MobileNo], [Gender], [Address], [Country], [State], [IsActive]) VALUES (1, N'Rahul Sharma', 22, N'rahul.sharma@example.com', N'9876543210', N'Male', N'123 MG Road, Mumbai', N'India', N'Maharashtra', 1)
INSERT [dbo].[Students] ([Id], [Name], [Age], [Email], [MobileNo], [Gender], [Address], [Country], [State], [IsActive]) VALUES (2, N'Priya Mehta', 24, N'priya.mehta@example.com', N'9123456780', N'Female', N'45 Nehru Nagar, Delhi', N'India', N'Delhi', 1)
INSERT [dbo].[Students] ([Id], [Name], [Age], [Email], [MobileNo], [Gender], [Address], [Country], [State], [IsActive]) VALUES (3, N'Bhavesh', 21, N'Rahul@gmail.com', N'9717945730', N'Male', N'Mumbai meri jaan', N'India', N'MH', 1)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
